{% extends 'base.html' %}


{% block title %}
    Lista Empleados por departamento
{% endblock title %}
    

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">Empleados por Area</div>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="200">ID</th>
                            <th>NOMBRES</th>
                            <th width="150">APELLIDOS</th>
                            <th width="150">DEPARTAMENTO</th>
                            <th width="150">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for elemento in empleados %}
                        <tr>
                            <td>{{ elemento.id }}</td>
                            <td>{{ elemento.first_name }}</td>
                            <td>{{ elemento.last_name }}</td>
                            <td>{{ elemento.departamento }}</td>
                            <td><a class="button warning"
                                    href=" {% url 'persona_app:empleado_detail' elemento.id %}">Ver Empleados</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock content %}
    
<h1>Lista empleados por departamento</h1>

<ul>
    
    {% for elemento in object_list %}
        <li>{{ elemento }}</li>
    {% endfor %}
        
</ul>

